<div class="row mt-4">
  <div class="px-5 mb-5">
    <app-line-order></app-line-order>
  </div>
  <div class="col-8">
    <h3>Dirección</h3>
    <form action="">
      <div class="mb-3">
            <label class="form-label" for="">Departamento</label>
            <input type="text" class="form-control" placeholder="Ingrese un departamento">
      </div>

      <div class="mb-3">
        <label class="form-label" for="">Provincia</label>
        <input type="text" class="form-control" placeholder="Ingrese una provincia">
      </div>

      <div class="mb-3">
        <label class="form-label" for="">Distrito</label>
        <input type="text" class="form-control" placeholder="Ingrese un distrito">
      </div>

      <div class="mb-3">
        <label class="form-label" for="">Avenida/Calle/Jiron</label>
        <input type="text" class="form-control" placeholder="Ingrese el nombre de la calle">
      </div>

      <div class="mb-3">
        <label class="form-label" for="">Numero</label>
        <input type="text" class="form-control" placeholder="Ingrese el numero de la calle">
      </div>

      <div class="mb-3">
        <label class="form-label" for="">Dpto./ Interior/ Piso/ Lote/ Bloque (opcional)</label>
        <input type="text" class="form-control" placeholder="Ejem. Casa 3, Dpto 101">
      </div>
  </form>
  </div>
  <div class="col-4">
    <h3>Resumen de la orden</h3>
      <app-order-resume link="/checkout/payment"></app-order-resume>
  </div>
</div>
