<div class="row mt-4">
  <div class="px-5 mb-5">
    <app-line-order></app-line-order>
  </div>
  <div class="col-8">
    <h3>Metodo de Pago</h3>
    <form class="border rounded p-5">
        <label class="form-label" for="">Numero de Tarjeta</label>
        <input type="text" class="form-control" placeholder="Numero de Tarjeta">

        <label class="form-label" for="">Mes de Vencimiento</label>
        <input type="text" class="form-control" placeholder="Mes de Vencimiento">

        <label class="form-label" for="">Año de Vencimiento</label>
        <input type="text" class="form-control" placeholder="Año de Vencimiento">

        <label class="form-label" for="">CVV</label>
        <input type="text" class="form-control" placeholder="CVV">
    </form>
  </div>
  <div class="col-4">
    <h3>Resumen de la orden</h3>
    <app-order-resume link=""></app-order-resume>
</div>
